.service-block-title{
    margin-bottom: 15px;
    display: block;
}

.service-block-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 80px 0 80px;
    .service-card{
        margin: 0 10px 0 10px;
        width: 90%;
    }
}

.service-block-description{
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
}