.user-book-appointment-controller-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 20px 0 20px;
    .user-book-appointment-controller{
        display: grid;
        height: max-content;
        grid-template-rows: 2fr 1fr 1fr;
        .user-book-appointment-controller-title-text{
            display: block;
            font-size: xx-large;
        }
        .user-book-appointment-controller-detail-text{
            display: block;
            font-size: x-large;
        }
        .user-book-appointment-controller-button{
            justify-self: center;
            width: max-content;
            height: max-content;
            display: block;
        }
    }
    .user-book-appointment-controller-img-container{
        display: block;
    }
}