.header-container {
	height: 80px;
	background-color: var(--LILY-WHITE);
	position: fixed;
	right: 0;
	left: 0;
	z-index: 2;

	.header-layout {
		justify-content: space-between;
		display: flex;
		gap: 100px;
		margin: 0 60px;
		padding: 0 30px;

		.logo-container {
			width: 110px;
			height: 80px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.nav-container {
			.nav-list {
				display: flex;
				list-style-type: none;
				justify-content: center;

				.nav-item {
					padding: 0 15px;
					line-height: 80px;
				}

				a {
					text-decoration: none;
					color: var(--JELLY-BEAN);

					&:hover {
						background-color: #d0e6ee;
						transition: 0.25s background-color;
					}
				}

				label {
					text-decoration: none;
					color: var(--JELLY-BEAN);

					&:hover {
						background-color: #d0e6ee;
						transition: 0.25s background-color;
					}
				}
			}
		}
	}
}
