.vet-common-layout-container {
	display: grid;
	height: auto;
	grid-template-columns: 0.2fr 1fr !important;
	
	.vet-page-container {
		// short hand
		background: url("../../../../assets/img/dog-bg4.jpeg") no-repeat center center/cover;
		padding: 50px 100px;
		width: 100%;
	}
}
