.btn-comp.filled {
	background-color: var(--JELLY-BEAN);
	color: white;
	border: none;
	padding: 8px;
	cursor: pointer;
	border-radius: 5px;

	&:active {
		background-color: var(--JELLY-BEAN-DARK);
	}
}

.btn-comp.icon-no-layout {
	background-color: transparent;
	border: none;
	padding: 2px;
	cursor: pointer;
}

.btn-comp.transparent {
	background-color: transparent;
	color: var(--JELLY-BEAN);
	border: 1px solid var(--JELLY-BEAN);
	padding: 7px;
	cursor: pointer;
	border-radius: 5px;

	&:active {
		background-color: var(--ACTIVE-COLOR);
	}
}

.btn-comp.underlined {
	background-color: transparent;
	color: var(--JELLY-BEAN);
	text-decoration: underline;
	border: none;
	padding: 8px;
	cursor: pointer;
	border-radius: 5px;

	&:active {
		background-color: var(--ACTIVE-COLOR);
	}
}

//  BUTTON NO-LAYOUT
.btn-comp.no-layout {
	background-color: transparent;
	color: var(--JELLY-BEAN);
	text-decoration: none;
	border: none;
	padding: 8px;
	cursor: pointer;
	border-radius: 5px;

	&:active {
		background-color: var(--ACTIVE-COLOR);
	}
}

// BUTTON NO-LAYOUT WITH RIGHT-ICON
.btn-comp.no-layout.right-icon {
	display: flex;
	background-color: transparent;
	color: var(--JELLY-BEAN);
	text-decoration: none;
	border: none;
	padding: 8px;
	cursor: pointer;
	border-radius: 5px;

	&:active {
		background-color: var(--ACTIVE-COLOR);
	}
}

// Underlined with right-icon
.btn-comp.underlined.right-icon {
	display: flex;
	background-color: transparent;
	color: var(--JELLY-BEAN);
	text-decoration: underline;
	border: none;
	padding: 8px 0 8px 8px;
	cursor: pointer;
	border-radius: 5px;

	&:active {
		background-color: var(--ACTIVE-COLOR);
	}
}

// Transparent with right-icon and stroke enable
.btn-comp.transparent.right-icon.stroke-enable {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color: var(--JELLY-BEAN);
	// text-decoration: underline;
	gap: 5px;
	padding: 8px 8px 8px 8px;
	cursor: pointer;
	border-radius: 5px;

	&:active {
		background-color: var(--JELLY-BEAN-DARK);
	}
}

// Transparent with right-icon and stroke disable
.btn-comp.transparent.right-icon.stroke-disable {
	display: flex;
	background-color: transparent;
	color: var(--JELLY-BEAN);
	text-decoration: underline;
	gap: 5px;
	border: none;
	padding: 8px 8px 8px 8px;
	cursor: pointer;
	border-radius: 5px;

	&:active {
		background-color: var(--ACTIVE-COLOR);
	}
}
