.my-appointment-container {
	padding: 0 100px 0 100px;
	margin-top: 50px;

	.appointment-list-container {
		margin-bottom: 30px;
	}

	.table-container {
		.pet-name {
			&:hover {
				color: black;
			}
		}
	}
}
