$common-width: 100%;
$arrow-rotation-active: 90deg;
$arrow-rotation-inactive: 180deg;

// ROTATE ARROW WHETHER ACTIVE OR NOT
@mixin rotateArrow($active) {
	@if $active {
		transform: rotate($arrow-rotation-active);
	} @else {
		transform: rotate($arrow-rotation-inactive);
	}

	transition: 0.1s transform;
}

.sidebar-container {
	width: $common-width;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.12) 5px 0px 5px;

	.sidebar-items-list {
		position: fixed;
		width: 18.25%;
		display: flex;
		flex-direction: column;
		list-style-type: none;

		.item {
			font-weight: 400;
		}

		& > a {
			color: var(--JELLY-BEAN);
			text-decoration: none;
			border-bottom: 1px solid rgb(200, 200, 200);
			padding: 15px 0 15px 20px;
		}

		.pet-profile-menu {
			user-select: none;
			color: var(--JELLY-BEAN);
			text-decoration: none;
			border-bottom: 1px solid rgb(200, 200, 200);
			padding: 15px 0 15px 20px;

			.pet-profile-submenu {
				.submenu-container {
					margin-top: 5px;
					display: flex;
					flex-direction: column;
					list-style-type: none;
					padding-left: 20px;

					& > a {
						color: var(--JELLY-BEAN);
						text-decoration: none;
						padding: 8px;
					}

					& > label {
						color: var(--JELLY-BEAN);
						text-decoration: none;
						padding: 8px;
					}
				}
			}

			.profile-menu-active {
				.arrow-menu {
					@include rotateArrow(true);
				}
			}

			.profile-menu-inactive {
				.arrow-menu {
					@include rotateArrow(false);
				}
			}

			.pet-profile-submenu.submenu-inactive {
				display: none;
			}
		}
	}

	.active-tab {
		& > label {
			font-weight: 550 !important;
		}
	}

	.active-sub-tab {
		& > label {
			font-weight: 550 !important;
		}
	}

	.modal-container {
		z-index: 10;
		.modal-body {
			.add-pet-container {
				.modal-title {
					padding-bottom: 30px;
				}

				.general-input-field {
					padding: 10px;
					font-size: 15px;
					border: 1px solid var(--JELLY-BEAN); /* Ensure border is defined */
					border-radius: 8px;

					&:focus-visible {
						border-color: var(
							--JELLY-BEAN
						); /* Change this to the color you want */
						border-width: 2px; /* Increase the border width */
						border-radius: 8px;
						outline: none; /* Remove default outline */
					}
				}

				.adding-information-container {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 25px;

					.input-div {
						display: flex;
						flex-direction: column;
						border: none;
					}

					.field-label {
						font-size: 16px;
						font-weight: 500;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}
