* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  // Define system color
  --REGAL-BLUE: #243c5a;
  --SAIL-BLUE: #bbe7fa;
  --JELLY-BEAN: #2d759f;
  --JELLY-BEAN-DARK: #28698f;
  --ACTIVE-COLOR: #e2e2e2;
  --GRAY-WHITE-COLOR: #fbfbfb;
  --GRAY-BG-COLOR: #F5F5F5;
  --LILY-WHITE: #e8f8ff;
  --CHELSEA-CUCUMBER: #84b74f;
  --WOODSMOKE: #323C39;
  --ERROR-COLOR: #B71C1C;
  --WARNING-COLOR: #ffa200;
  --INFORMATION-COLOR: #b0b0b0;
  --SUCCESS-COLOR: #779D6A;
}
