.booking-form-container {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin: 30px 20% 30px 20%;
    border-color: var(--JELLY-BEAN);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 10px 20px 10px;

    .booking-form-header {
        margin-bottom: 10px;

        .booking-form-header-title {
            display: block;
            margin-bottom: 10px;
        }

        .booking-form-header-description {
            display: block;
        }
    }

    .booking-form-body {

        .booking-form-body-add-pet {
            margin-bottom: 10px;
            display: grid;
            grid-template-columns: 1fr 4fr;

            .add-pet-lable {
                font-weight: 500;
            }

            .add-pet-input {
                padding-left: 10px;
                height: 30px;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
            }
        }

        .added-pets-block {
            margin-bottom: 10px;
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
            padding: 10px 0;

            .added-pet-card {
                margin-bottom: 10px;
            }
        }

        .booking-form-body-select-service {
            margin-bottom: 10px;
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
            padding: 10px 0;
        }

        .booking-form-body-select-vet {
            margin-bottom: 10px;
            display: grid;
            grid-template-columns: 1fr 4fr;

            .select-vet-lable {
                font-weight: 500;
            }

        }

        .select-vet-block {

            .booking-form-body-vets {
                margin-bottom: 10px;
                display: flex;
                overflow-x: auto;
                white-space: nowrap;
                padding: 10px 0;
            }


            #selected-vet-card {
                background-color: aquamarine;
                border-radius: 10px;
            }
        }

        .booking-form-select-date {
            margin-bottom: 10px;
            display: grid;
            grid-template-columns: 1fr 4fr;

            .select-date-lable {
                font-weight: 500;
                display: block;
            }

            .select-date-block-container {
                display: flex;
                overflow-x: auto;
                white-space: nowrap;
                padding: 10px 0;

                .select-date-block {
                    min-width: 120px;
                    padding: 0 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    margin-right: 10px;

                    .select-date-block-text {
                        font-size: 14px;
                        white-space: nowrap;
                    }
                }

                #selected-date-block {
                    background-color: aquamarine;
                    border-radius: 5px;
                }
            }
        }

        .booking-form-select-time-slot {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin-bottom: 10px;
        }

        .booking-form-note-input {
            margin-bottom: 10px;
            display: grid;
            grid-template-columns: 1fr 4fr;

            .note-input-lable {
                font-weight: 500;
            }

            .note-input {
                height: 200px;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                padding: 10px;
                box-sizing: border-box;
                transition: border-color 0.3s ease;
            }
        }

        .booking-form-buttons-group {
            display: flex;
            justify-content: space-between;

            .cancel-button {
                margin-right: 10px;
                width: 100px;
                background-color: red;
            }

            .confirm-button {
                margin-left: 10px;
                width: 100px;
                background-color: green;
            }
        }
    }
}

.service-card-container {
    border: 2px solid rgb(8, 73, 110);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 200px;
    min-width: 200px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    /* Adjusted grid rows */

    &:hover {
        transform: scale(1.05);
    }

    &.selected {
        border-color: #ffc107;
        /* Yellow border for selected */
        background-color: #fef3d3;
        /* Light yellow background for selected */
    }

    .service-card-title-container {
        max-width: 100%;
        /* Ensures the title container can expand */
        border-bottom: 2px solid rgb(8, 73, 110);
        background: rgb(8, 73, 110);
        color: white;
        padding: 10px;
        overflow: hidden;
        /* Hide overflowing content */
        text-overflow: ellipsis;
        /* Ellipsis for long titles */
        white-space: nowrap;
        /* Prevent wrapping of title */
        display: flex;
        align-items: center;
        justify-content: center;

        .service-card-title-text {
            max-width: 100%;
            /* Ensures text inside can expand */
            font-size: 0.9em;
            font-weight: 550;
            text-align: center;
            overflow: hidden;
            /* Hide overflowing content */
            text-overflow: ellipsis;
            /* Ellipsis for long titles */
            white-space: nowrap;
            /* Prevent wrapping of title */
        }
    }

    .service-card-description-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        /* Adjust height as needed */
        max-height: 180px;
        /* Maximum height for the description */
        overflow: hidden;
        /* Hide overflowing content */
        text-overflow: ellipsis;
        /* Ellipsis for long descriptions */
    }

    .service-card-description-text {
        max-width: 100%;
        font-size: 0.9em;
        color: #333;
        text-align: center;
        overflow: hidden;
        /* Hide overflowing content */
        text-overflow: ellipsis;
        /* Ellipsis for long descriptions */
        white-space: normal;
        /* Allow wrapping of text */
    }

    .service-card-price-text {
        margin-top: 5px;
        font-size: 1em;
        color: #333;
        overflow: hidden;
        /* Hide overflowing content */
        text-overflow: ellipsis;
        /* Ellipsis for long prices */
        white-space: nowrap;
        /* Prevent wrapping of price */
    }
}