.vet-sidebar-container {
	width: 255px;
	min-height: 800px;
	height: 100%;

	.item-container {
		height: inherit;
		box-shadow: rgba(0, 0, 0, 0.12) 5px 0px 5px;
		width: inherit;
		position: fixed;

		.item {
			a,
			.nav-item {
				display: block;
				padding: 10px 20px;
				color: var(--JELLY-BEAN);
				text-decoration: none;
				line-height: 45px;

				> label {
					font-weight: 450;
				}

				&:hover {
					background-color: var(--ACTIVE-COLOR);
					transition: background-color 0.2s;
				}
			}
		}
	}
}
